<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-6">
					<app-orders-list-card></app-orders-list-card>
				</div>
				<div class="col-6">
					<mat-card></mat-card>
				</div>
			</div>
			<mat-card>
				<h1>Header 1</h1>
				<h2>Header 2</h2>
				<h3>Header 3</h3>
				<h4>Header 4</h4>
				<h5>Header 5</h5>
				<h6>Header 6</h6>
				<hr />
				<h2>Paragraphs</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p class="mat-caption">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p class="mat-body-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p class="mat-body-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<hr />
				<h2>Display 1,2,3,4</h2>
				<h1 class="mat-display-1"><code>h1.mat-display-1</code></h1>
				<h1 class="mat-display-2"><code>h1.mat-display-2</code></h1>
				<h1 class="mat-display-3"><code>h1.mat-display-3</code></h1>
				<h1 class="mat-display-4"><code>h1.mat-display-4</code></h1>
			</mat-card>
			<mat-card> </mat-card>
			<mat-card> </mat-card>
		</div>
		<div class="col-sm-4">
			<mat-card>
				<h5>Header 5</h5>
				<p>paragraph</p>
				<p class="mat-caption">caption</p>
			</mat-card>

			<mat-card
				><h5>Header 5</h5>
				<p>paragraph</p>
				<p class="mat-caption">caption</p>
			</mat-card>
		</div>
	</div>
</div>
