<div class="container-fluid">
	<app-breadcrumb *ngIf="!isDrawerMode"></app-breadcrumb>
	<div class="row">
		<div [ngClass]="!isDrawerMode ? 'col-9' : 'col'">
			<mat-card [ngClass]="{ 'mat-elevation-z0': isDrawerMode, 'px-0': isDrawerMode }">
				<div class="d-flex justify-content-between">
					<h1>Create Order</h1>
					<mat-chip-list aria-label="Fish selection">
						<mat-chip>Draft</mat-chip>
						<mat-chip>21-02-2023 . 12:52 PM</mat-chip>
					</mat-chip-list>
				</div>
				<mat-divider></mat-divider>
				<form [formGroup]="form" class="pt-4">
					<div class="row">
						<div class="col-6">
							<app-customers-dropdown
								#customer
								[parentForm]="form"
								[controlName]="'customer'"
								[label]="'Select Customer'"
								(valueChange)="customerValueChange($event)"
							></app-customers-dropdown>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<mat-form-field class="d-block">
								<mat-label>Channel</mat-label>
								<input type="text" matInput formControlName="channel" placeholder="Order type" readonly />
								<!-- <mat-error *ngIf="formControls['email'].hasError('required')"> Email required</mat-error> -->
							</mat-form-field>

							<mat-form-field class="d-block">
								<mat-label>Currency</mat-label>
								<input type="text" matInput formControlName="currency" placeholder="Order type" readonly />
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="d-block">
								<mat-label>Note</mat-label>
								<textarea
									type="text"
									matInput
									formControlName="note"
									multiple
									placeholder="Order type"
									style="height: 90px"
								></textarea>
								<!-- <mat-error *ngIf="formControls['email'].hasError('required')"> Email required</mat-error> -->
							</mat-form-field>
						</div>
					</div>
				</form>
			</mat-card>
		</div>
		<div class="col-3" *ngIf="!isDrawerMode">
			<mat-card *ngIf="false"></mat-card>
		</div>
	</div>
	<div class="row">
		<div [ngClass]="!isDrawerMode ? 'col-9' : 'col'">
			<app-form-action-bar
				[startButtons]="[
					{
						visible: true,
						disabled: false,
						class: 'mat-flat-button',
						color: 'primary',
						text: 'Save and Close',
						options: [{ text: 'Save and New' }]
					},
					{ visible: true, disabled: false, class: '', color: 'accent', text: 'Cancel' }
				]"
				[endButtons]="[{ visible: !isDrawerMode, disabled: false, class: 'mat-raised-button', color: 'warn', text: 'Reset' }]"
				(buttonClick)="onActionClick($event)"
			></app-form-action-bar>
		</div>
	</div>
</div>
