<div class="container-fluid">
	<app-page-header
		*ngIf="customer$ | async as vm"
		[title]="'Personal Info'"
		[breadcrumbItems]="[
			{
				text: 'Customers',
				link: '/customers'
			},
			{
				text: vm.FullName,
				link: '/customers/' + vm.Id + '/personal-info'
			},
			{
				text: 'Personal Info',
				link: '/'
			}
		]"
		[actionButtons]="[
			{
				visible: true,
				disabled: false,
				class: 'mat-flat-button',
				color: 'primary',
				text: 'Edit',
				isWaiting: false
			}
		]"
		(buttonClick)="onPageHeaderActionClick($event)"
	></app-page-header>
	<div class="row">
		<div class="col-9">
			<mat-card class="vh-60">
				<div class="order-view" *ngIf="customer$ | async as vm">
					<div class="d-flex justify-content-between">
						<h2>Profile# {{ vm.ProfileNumber }}</h2>
						<mat-chip-list aria-label="Customer status">
							<mat-chip selected [color]="vm.EmailVerified ? 'primary' : 'warn'">
								{{ vm.EmailVerified ? 'Verified' : 'Un-Verified ' }}
							</mat-chip>
							<mat-chip> {{ vm.CreateDate | date : 'dd-MM-yyyy' }}</mat-chip>
						</mat-chip-list>
					</div>
					<mat-divider></mat-divider>
					<div class="pt-4">
						<div class="row">
							<div class="col-6">
								<p><b>First Name</b> {{ vm.FirstName }}</p>
							</div>
							<div class="col-6">
								<p><b>Last Name</b> {{ vm.LastName }}</p>
							</div>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div class="col-3">
			<app-customer-links></app-customer-links>
		</div>
	</div>
	<div class="row">
		<div class="col-9">
			<app-form-action-bar
				[startButtons]="[
					{
						visible: true,
						disabled: false,
						class: 'mat-stroked-button',
						color: 'primary',
						text: 'Back'
					}
				]"
				[endButtons]="[]"
				(buttonClick)="onActionClick($event)"
			></app-form-action-bar>
		</div>
	</div>
</div>
