<mat-card>
	<h2>What's Next</h2>
	<mat-divider></mat-divider>

	<ul class="list-group list-group-flush">
		<li class="list-group-item d-flex align-items-center"><a class="link">Email confirmation</a></li>
		<li class="list-group-item d-flex align-items-center"><a class="link">Change status</a></li>
		<li class="list-group-item d-flex align-items-center"><a class="link">Request payments</a></li>
		<li class="list-group-item d-flex align-items-center"><a class="link">Print</a></li>
	</ul>
</mat-card>
