<div class="container-fluid">
	<app-breadcrumb></app-breadcrumb>

	<div class="row">
		<div class="col-sm-8">
			<mat-card>
				<div class="d-flex">
					<h1>Customers</h1>
					<a class="ms-auto align-self-start" mat-button color="primary" [routerLink]="['add']">Create Customer</a>
				</div>
				<p>customers-list works!</p>
			</mat-card>
		</div>
		<div class="col-sm-4">
			<mat-card>
				<h5>Header 5</h5>
				<p>paragraph</p>
				<p class="mat-caption">caption</p>
			</mat-card>

			<mat-card
				><h5>Header 5</h5>
				<p>paragraph</p>
				<p class="mat-caption">caption</p>
			</mat-card>
		</div>
	</div>
</div>
