<!-- mat-toolbar -->
<app-header (toggleDrawer)="sideNav.toggle()"></app-header>
<!-- mat-sidenav-container -->
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="64">
	<mat-sidenav
		#sideNav
		position="start"
		[mode]="mobileQuery.matches ? 'over' : 'side'"
		[opened]="mobileQuery.matches ? false : true"
		[fixedInViewport]="mobileQuery.matches"
		fixedTopGap="56"
		style="width: 238px"
	>
		<app-side-navbar></app-side-navbar>
	</mat-sidenav>

	<mat-sidenav-content>
		<app-loading-bar class="position-absolute top-0 start-0 end-0"></app-loading-bar>
		<app-connection-issue
			class="position-absolute top-0 start-0 end-0 bottom-0"
			*ngIf="!isConnectionOK"
			style="background-color: black; z-index: 1"
		></app-connection-issue>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>

		<mat-drawer #drawerEnd position="end" mode="over" fixedTopGap="56" opened="false" hasBackdrop="true">
			<template appDrawerHost> </template>
		</mat-drawer>

		<ng-container *ngFor="let item of drawerComponents; let i = index">
			<app-drawer [component]="item"></app-drawer>
		</ng-container>
	</mat-sidenav-content>
</mat-sidenav-container>
