<!-- mat-toolbar -->
<app-header (toggleDrawer)="sideNav.toggle()"></app-header>
<!-- mat-sidenav-container -->
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="64">
	<mat-sidenav
		#sideNav
		position="start"
		[mode]="mobileQuery.matches ? 'over' : 'side'"
		[opened]="mobileQuery.matches ? false : true"
		[fixedInViewport]="mobileQuery.matches"
		fixedTopGap="56"
		style="width: 238px"
	>
		<app-side-navbar></app-side-navbar>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>

		<mat-drawer #drawerEnd position="end" mode="over" fixedTopGap="56" opened="false">
			<template appDrawerHost> </template>
		</mat-drawer>
	</mat-sidenav-content>
	<ng-template #dialogActions>
		<button mat-button color="warn" (click)="toggleDrawer()">Discard</button>
		<button mat-button color="primary" (click)="onSubmit()">Save</button>
	</ng-template>
</mat-sidenav-container>
