<div class="container-fluid">
	<ng-container *ngIf="!isDrawerMode && !isDialogMode && formMode === 'edit' && (customer$ | async) as vm">
		<app-page-header
			[title]="(formMode | titlecase) + ' ' + 'Personal Info'"
			[breadcrumbItems]="[
				{
					text: 'Customers',
					link: '/customers'
				},
				{
					text: vm.FullName,
					link: '/customers/' + vm.Id
				},
				{
					text: 'Personal Info',
					link: '/customers/' + vm.Id + '/personal-info'
				},
				{
					text: 'Edit',
					link: ''
				}
			]"
			[actionButtons]="[
				{
					visible: isDirty,
					disabled: false,
					class: 'mat-raised-button w-100',
					color: 'primary',
					text: 'Save',
					isWaiting: isWaiting
				}
			]"
			(buttonClick)="onPageHeaderActionClick($event)"
		></app-page-header>
	</ng-container>
	<ng-container *ngIf="!isDrawerMode && !isDialogMode && formMode === 'add'">
		<app-page-header
			[title]="'Create Customer'"
			[breadcrumbItems]="[
				{
					text: 'Customers',
					link: '/customers'
				},
				{
					text: 'Add',
					link: ''
				}
			]"
			[actionButtons]="[
				{
					visible: isDirty,
					disabled: false,
					class: 'mat-raised-button w-100',
					color: 'primary',
					text: 'Save',
					isWaiting: isWaiting
				}
			]"
			(buttonClick)="onPageHeaderActionClick($event)"
		></app-page-header>
	</ng-container>
	<div class="row">
		<div [ngClass]="!isDrawerMode && !isDialogMode ? 'col-9' : 'col mt-2'">
			<mat-card>
				<h2>{{ formMode === 'add' ? 'Create Customer' : 'Edit Personal Info' }}</h2>
				<mat-divider></mat-divider>
				<!-- TODO: remove when stable v -->
				<div class="d-none">
					isDrawerMode:{{ isDrawerMode }} <br />
					formMode:{{ formMode }} <br />
					index:{{ index }}
				</div>
				<form class="pt-4" [formGroup]="form">
					<div class="row">
						<div class="col">
							<mat-form-field class="d-block">
								<mat-label>First name</mat-label>
								<input type="text" matInput formControlName="firstName" placeholder="First name" />
								<!-- <mat-error *ngIf="formControls['name'].hasError('required')"> Store Name required</mat-error> -->
							</mat-form-field>
						</div>
						<div class="col">
							<mat-form-field class="d-block">
								<mat-label>Last name</mat-label>
								<input type="email" matInput formControlName="lastName" placeholder="Last name" />
								<!-- <mat-error *ngIf="formControls['email'].hasError('required')"> Email required</mat-error> -->
							</mat-form-field>
						</div>
					</div>
				</form>
			</mat-card>
		</div>
		<div class="col-3" *ngIf="!isDrawerMode && !isDialogMode"></div>
	</div>
	<div class="row" [ngClass]="isDrawerMode ? 'position-absolute bottom-0 start-12 end-12 pt-3 pb-2 mat-app-background' : ''">
		<div [ngClass]="!isDrawerMode || !isDialogMode ? 'col-9' : 'col'">
			<app-form-action-bar
				[isDrawerMode]="isDrawerMode || isDialogMode"
				[startButtons]="[
					{
						visible: true,
						disabled: false,
						class: 'mat-flat-button',
						color: 'primary',
						text: 'Save and Close',
						options: [{ text: 'Save and New' }]
					},
					{ visible: true, disabled: false, class: 'mat-stroked-button', color: 'accent', text: 'Cancel' }
				]"
				[endButtons]="[
					{ visible: !isDrawerMode && !isDialogMode, disabled: false, class: 'mat-raised-button', color: 'warn', text: 'Reset' }
				]"
				(buttonClick)="onActionClick($event)"
			></app-form-action-bar>
		</div>
	</div>
</div>
