<div class="container-fluid h-100">
	<div class="row d-flex align-items-sm-center h-auto h-sm-100">
		<div class="col-sm-4 col-md-3 bg-primary-500 h-auto h-sm-100 bubble-bg">
			<div class="d-flex flex-column h-auto h-sm-100">
				<app-svg-loader class="identity-logo mt-3 mt-sm-4 mx-auto" [name]="'logoEcomzEn'" width="100px"></app-svg-loader>
				<h3 class="text-center position-relative my-4 my-sm-auto color-primary-100" style="z-index: 1">
					Taking your ecommerce journey to the next level!
				</h3>
			</div>
		</div>
		<div class="col-sm-8 col-md-9">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-md-7">
						<h2>Sign In</h2>
						<form [formGroup]="form">
							<div class="form-group">
								<mat-form-field class="d-block">
									<mat-label>Email</mat-label>
									<input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
									<!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error> -->
									<!-- <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong> </mat-error> -->
								</mat-form-field>
							</div>
							<div class="form-group">
								<mat-form-field class="d-block">
									<mat-label>Password</mat-label>
									<input
										type="password"
										matInput
										formControlName="password"
										placeholder="Ex. pat@example.com"
										name="password"
										autocomplete="off"
									/>
									<!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error> -->
									<!-- <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong> </mat-error> -->
								</mat-form-field>
							</div>
							<div class="form-group">
								<button mat-raised-button color="primary" class="w-100" (click)="submitRecord()">Login</button>
							</div>
						</form>
						<div class="form-group d-md-flex justify-content-between text-center mt-3">
							<mat-checkbox color="primary">Remember Me</mat-checkbox>
							<div>
								<a href="#">Forgot Password</a>
							</div>
						</div>
						<p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
